/venv/
/all-MiniLM-L6-v1/
/scratch/

.env
/.vscode/
/__pycache__/

/OneDrive_2025-11-03/Begin Bal to End Balance/
/OneDrive_2025-11-03/Combined Data/cleaned_leave_data.csv
/OneDrive_2025-11-03/Combined Data/combined_leave_data.csv
/OneDrive_2025-11-03/combined_leave_data.csv
/OneDrive_2025-11-03/combined_leave_data.duckdb
/OneDrive_2025-11-03/leave_data_by_FY.csv
/OneDrive_2025-11-03/Leave Data - CLAS/

/OneDrive_2025-11-03/